/* ************************************************ */
/*                  Header Section                  */
/* ************************************************ */

.header {
  background-color: #fdf2e9;

  display: flex;
  align-items: center;
  justify-content: space-between;

  height: 6.4rem;
  padding: 0 4.8rem;
}

.logo {
  height: 2rem;
}

.main-nav-list {
  list-style: none;

  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}

.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  color: #333;
  font-size: 1.8rem;
  font-weight: 500;
  text-decoration: none;

  transition: all 0.3s;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: #cf711f;
}

.main-nav-link.nav-cta:link,
.main-nav-link.nav-cta:visited {
  color: #fff;
  background-color: #e67e22;

  padding: 1.2rem 2.4rem;
  border-radius: 9px;
}

.main-nav-link.nav-cta:hover,
.main-nav-link.nav-cta:active {
  background-color: #cf711f;
}

/* ************************************************ */
/*                   Hero Section                   */
/* ************************************************ */

.hero-section {
  background-color: #fdf2e9;
  padding: 4.8rem 2rem 9.6rem 3.2rem;
}

.hero {
  max-width: 130rem;
  margin: 0 auto;

  display: grid;
  gap: 9.6rem;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
}

.hero-text-box {
  display: flex;
  flex-direction: column;
}

.hero-heading {
  font-size: 5.2rem;
  font-weight: 700;
  line-height: 1.1;
  letter-spacing: -0.5px;
  color: #333;
  margin-bottom: 3.2rem;
}

.hero-description {
  font-size: 2rem;
  line-height: 1.6;
  margin-bottom: 4.8rem;
}

.hero-image {
  width: 100%;
}

.btn {
  display: inline-block;
  font-size: 2rem;
  font-weight: 600;
  text-decoration: none;
  padding: 1.6rem 3.2rem;
  border-radius: 9px;
}

.btn.btn--full:link,
.btn.btn--full:visited {
  color: #fff;
  background-color: #e67e22;

  transition: background-color 0.3s;
}

.btn.btn--full:hover,
.btn.btn--full:active {
  background-color: #cf711f;
}

.btn.btn--outline:link,
.btn.btn--outline:visited {
  color: #333;
  background-color: #fff;
}

.btn.btn--outline:hover,
.btn.btn--outline:active {
  background-color: #fdf2e9;

  /* Adding a border will add the border outside the element and 
  looks weird on hover as there is pixel movement */

  /* Trick to add Border Internally */
  box-shadow: inset 0 0 0 3px #fff;
}

.delivered-meals {
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.delivered-imgs {
  display: flex;
  align-items: center;
}

.delivered-imgs img {
  width: 4.8rem;
  margin-right: -1.6rem;
  border: 0.3rem solid #fdf2e9;
}

.delivered-imgs img:last-child {
  margin-right: 0;
}

.delivered-text {
  font-size: 1.8rem;
  font-weight: 600;
}

.delivered-text span {
  color: #cf711f;
  font-weight: 700;
}

/* ************************************************ */
/*             Featured in Section                 */
/* ************************************************ */

.featured {
  max-width: 120rem;
  margin: 0 auto;
  padding: 4.8rem 0 8rem 0;
}

.featured--subheading {
  font-size: 1.6rem;
  font-weight: 500;
  color: #666;
  letter-spacing: 0.75px;
  text-transform: uppercase;

  display: flex;
  align-items: center;
  justify-content: center;
}

.feature-logo-container {
  max-width: 130rem;
  overflow: scroll;

  display: flex;
  align-items: center;
  justify-content: space-around;
}

.featured-items img {
  max-height: 3.2rem;
  width: auto;

  filter: brightness(0);
  opacity: 55%;
}

/* ************************************************ */
/*             How it works Section                 */
/* ************************************************ */

.how-section {
  padding: 4.8rem 0;
}

.how-section-desc {
  font-size: 1.8rem;
}

.container-item img {
  max-height: 50rem;
  scale: 1.025;
}

.step-img {
  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;
}

.step-img::before {
  content: "";
  display: block;
  width: 35rem;
  padding-bottom: 35rem;
  border-radius: 50%;
  background-color: #fae5d3;
  align-items: center;
  justify-content: center;

  position: absolute;
}

.step-img::after {
  content: "";
  display: block;
  width: 45rem;
  padding-bottom: 45rem;
  border-radius: 50%;
  background-color: #fdf2e9;
  align-items: center;
  justify-content: center;

  position: absolute;
  z-index: -1;
}

.sub-container .container-item {
  justify-self: center;
}

.step-num {
  color: #ccc;
  font-size: 8.6rem;
  font-weight: 600;
}

.step-desc {
  font-size: 1.8rem;
  line-height: 1.4;
}

/* ************************************************ */
/*                  Meals Section                   */
/* ************************************************ */
.meals-section {
  max-width: 120rem;
  padding: 0 3.2rem;
  margin: 9.6rem auto;
  color: #333;
}

.meals-container {
  gap: 6.4rem;
}

.meal-content {
  margin: 3.2rem 4.8rem 4.8rem 4.8rem;
}

.meals {
  border-radius: 1rem;
  overflow: hidden;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
}

.meal-category {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 5px;

  margin-bottom: 1.2rem;
}

.meal-category-item {
  font-weight: 600;
  font-size: 1.2rem;
  text-transform: uppercase;
  padding: 4px 8px;
  border-radius: 9px;
}

.tag--vegetarian {
  background-color: #51cf66;
}

.tag--vegan {
  background-color: #94d82d;
}

.tag--paleo {
  background-color: #ffd43b;
}

.meal-title {
  font-size: 2.4rem;
  font-weight: 600;
}

.all-recipes {
  display: flex;
  justify-content: center;
}

.meal-info,
.diet-list {
  list-style: none;
  font-size: 1.8rem;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  color: #555;
}

.meal-info-item {
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.meal-info-icon,
.diet-list-icon {
  height: 2.4rem;
  width: 2.4rem;
  color: #e67e22;
}

.diet-list-item {
  display: flex;
  align-items: center;
  gap: 2.4rem;
  line-height: 1.2rem;
  margin-bottom: 0.8rem;
}

.meal-img {
  width: 100%;
}

.link:link,
.link:visited {
  font-size: 2rem;
  text-underline-offset: 5px;
  text-decoration-thickness: 1px;
  color: #e67e22;

  display: inline-block;
  transition: all 0.3s;
}

.link:active,
.link:hover {
  text-decoration: none;
}

/* ************************************************ */
/*             Testimonial Section                  */
/* ************************************************ */

.testimonials-section {
  background-color: #fdf2e9;
}

.testimonial-grid {
  display: grid;
  grid-template-columns: 55fr 45fr;
  align-items: center;
}

.testimonial-subgrid {
  padding: 9.6rem;
}

.testimonial-heading {
  font-size: 4.4rem;
  font-weight: 700;
  line-height: 1.2;
  color: #333;
}

.testimonials {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 4.8rem;
  column-gap: 8rem;
}

.testimonial {
  display: block;
}

.user-img {
  display: block;
  border-radius: 50%;
  width: 6.4rem;
  margin-bottom: 1.2rem;
}

.user-testimonial {
  font-size: 1.8rem;
  line-height: 1.8;
}

.user {
  font-size: 1.6rem;
}

.img-gallery-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.6rem;
  padding: 1.6rem;
}

.gallery-img {
  display: block;
  width: 100%;
  overflow: hidden;
}

/* ************************************************ */
/*                 Pricing Section                  */
/* ************************************************ */

.pricing-section {
  max-width: 120rem;
  margin: 9.6rem auto;
}

.pricing-container {
  margin: 0 auto;
  padding: 0 3.2rem;

  width: 75%;
}

.pricing-plan {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4.8rem;

  border-radius: 1.6rem;
}

.pricing-starter {
  border: 2px solid #fdf2e9;
}

.pricing-complete {
  background-color: #fdf2e9;
  position: relative;
  overflow: hidden;
}

.pricing-complete::after {
  content: "Best Value";
  position: absolute;
  top: 6%;
  right: -12%;

  text-transform: uppercase;
  font-size: 1.4rem;
  font-weight: 700;
  color: #333;
  background-color: #ffd43b;
  padding: 0.8rem 4.8rem;

  transform: rotate(45deg);
}

.plan-header {
  text-align: center;
  margin-bottom: 4.8rem;
}

.plan-title {
  display: block;
  font-size: 2rem;
  font-weight: 600;
  color: #cf711f;
  letter-spacing: 0.75px;
  text-transform: uppercase;
}

.plan-summary {
  font-size: 1.6rem;
}

.price {
  display: flex;
  align-items: baseline;
  justify-content:center;
  flex-direction: row;
}

.plan-price {
  font-size: 3rem;
  font-weight: 600;
  color: #333;
  display: flex;
  align-items: center;
}

.plan-price-val {
  font-size: 6.2rem;
  font-weight: 600;
  color: #333;
}

.pricing-plan-features {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.feat-highlight {
  font-weight: 500;
}

.feature-list-item {
  font-size: 1.8rem;

  display: flex;
  align-items: center;
}
